@use "checho-challenge-ui/styles/mixins";

.categories {
  align-items: stretch;
  display: flex;
  gap: 0.75rem;
  overflow: auto;

  @include mixins.responsive(md) {
    gap: 1rem;
  }
}

.item {
  display: flex;
  text-decoration: none;
}
